.body_background{
    background: url("https://www.stockvault.net/data/2018/12/19/257770/preview16.jpg");
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
box-shadow: 5px 5px 5px rgb(229, 233, 4);
}
.note{
    font-size: 15px;
    color: white;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(82, 55, 238);
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
